<div id="home-content">
  
  <div id="categories-icon-scroll" class="">
    <% @categories.each_with_index do |category, index| %>
      <div class="category-icon-container <%= index == 0 ? "category-icon-selected" : "" %>" 
            data-category-id="<%= category.id_format_number %>" 
            data-category-index="<%= index %>" 
            data-category-emoji="<%= category.emoji %>"
            data-category-name="<%= category.name %>"
            data-category-recommendations-total="<%= current_user.recomendations_by_category(category.id).count %>">
        <%= category.emoji %>
      </div>
    <% end %>
  </div>

  <div class="divider"></div>

  <div id="new-tip">
    <div id="new-tip-aling-middle">
      <p id="click-btn-new-link" class="">
        Copie um link que tenha relação com <span id="add-new-tip-category-name">Livro</span> e depois cole o link no campo a baixo:
      </p>
  
      <div class="catalog-item">
        <div class="content-row">
          <div class="col">
            <div class="input-wrapper" id="input_url">
              <input type="url" id="url" placeholder="🔗 https://url" autocomplete="off">
            </div>
          </div>
        </div>
      </div>

      <button id="add-new-link-btn" class="" onclick="add()">ADICIONAR</button>
    </div>
  </div>

  <div class="divider"></div>
  
  <% @categories.each_with_index do |category, index| %>
    <ul id="<%= category.id_format_number %>" class="category-block <%= index == 0 ? "category-block-selected" : "category-block-unselected" %>"> 
    
      <% current_user.recomendations_by_category(category.id).each do |recomendation| %>
        <li id="<%= recomendation.id %>">
          <div class="catalog-item">
          
            <div class="header-row">
              <span class="category-item-title"><%= recomendation.title %></span>
              <img src="/assets/delete.png" onclick="delTip(this)">
            </div>
            
            <div class="content-row">
              <div class="col">
                <div class="row">
                  <img class="thumbnail" src="<%= recomendation.image %>">
                </div>
              </div>
            </div>

          </div>
        </li>
      <% end %>

    </ul>
  <% end %>


</div>
