<div class="admin-page-container">

  <div id="header-settings" class="header">
    <div class="row" id="close-settings-btn" >
      <%= show_svg('arrow-left') %>
      <p><%= link_to "Voltar", root_user_path %></p>
    </div>
  </div>

  <div id="contents-row" class="contents-row show-home">  
    <div id="settings-content" class="">
      <h3>Suas informações</h3>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

        <%= render "devise/shared/error_messages", resource: resource %>

        <%= f.fields_for :profile, current_user.profile  do |ff| %>
          <%= ff.text_field :name, placeholder: "Nome" %>  
          <%= ff.text_field :username, placeholder: "username" %>  

          <div class="divider"></div>
          <h3 class="social-links-header">Redes Sociais</h3>
          <div id="links-info-list" class="">
            <div class="input-wrapper">
              
            <div class="img-wrapper">
              <%= show_svg('spotify-icon') %>
              </div>
              <%= ff.text_field :spotify, placeholder: "Spotify", class: "link-info-item" %>  
            </div>
            <div class="input-wrapper">
            <div class="img-wrapper">
              <%= show_svg('youtube-icon') %>
              </div>
              <%= ff.text_field :youtube, placeholder: "YouTube", class: "link-info-item" %>  
            </div>
            <div class="input-wrapper">
            <div class="img-wrapper">
              <%= show_svg('twitter-icon') %>
              </div>
              <%= ff.text_field :twitter, placeholder: "Twitter", class: "link-info-item" %>  
            </div>
            <div class="input-wrapper">
            <div class="img-wrapper">
              <%= show_svg('twitch-icon') %>
              </div>
              <%= ff.text_field :twitch, placeholder: "Twitch", class: "link-info-item" %>  
            </div>
            <div class="input-wrapper">
            <div class="img-wrapper">
              <%= show_svg('tiktok-icon') %>
              </div>
              <%= ff.text_field :tiktok, placeholder: "Tiktok", class: "link-info-item" %>  
            </div>
            <div class="input-wrapper">
            <div class="img-wrapper">
              <%= show_svg('instagram-icon') %>
              </div>
              <%= ff.text_field :instagram, placeholder: "Instagram", class: "link-info-item" %>  
            </div>
            <div class="input-wrapper">
            <div class="img-wrapper">
              <%= show_svg('pinterest-icon') %>
              </div>
              <%= ff.text_field :pinterest, placeholder: "Pinterest", class: "link-info-item" %>  
            </div>
            <div class="input-wrapper">
            <div class="img-wrapper">
              <%= show_svg('site-icon') %>
              </div>
              <%= ff.text_field :site, placeholder: "Site", class: "link-info-item" %>  
            </div>
            <div class="input-wrapper">
            <div class="img-wrapper">
              <%= show_svg('facebook_link_icon') %>
              </div>
              <%= ff.text_field :facebook, placeholder: "Facebook", class: "link-info-item" %>  
            </div>
            <div class="input-wrapper">
              <div class="img-wrapper">
              <%= show_svg('medium_icon') %>
              </div>
             
              <%= ff.text_field :medium, placeholder: "Medium", class: "link-info-item" %>  
            </div>
            <div class="input-wrapper">
            <div class="img-wrapper">
              <%= show_svg('behance_icon') %>
              </div>
              <%= ff.text_field :behance, placeholder: "Behance", class: "link-info-item" %>  
            </div>
            <div class="input-wrapper">
            <div class="img-wrapper">
              <%= show_svg('linkedin_icon') %>
              </div>
              <%= ff.text_field :linkedin, placeholder: "Linkedin", class: "link-info-item" %>  
            </div>
            <div class="input-wrapper">
            <div class="img-wrapper">
            <%= show_svg('whatsapp_icon') %>
            </div>
              
              <%= ff.text_field :whatsapp, placeholder: "WhatsApp", class: "link-info-item" %>  
            </div>
            <div class="input-wrapper">
              <div class="img-wrapper">
              <%= show_svg('email_icon') %>
              </div>
             
              <%= ff.text_field :email, placeholder: "Email", class: "link-info-item" %>  
            </div>                         
          </div>

        <% end %>

        <button type="submit" name="commit" id="save-profile-btn">Salvar</button>
      <% end %>

      <div class="divider"></div>
        <h3>Extras</h3>
        <a href="mailto:alan@diip.app?subject=Help">Ajuda</a>

        <a href="mailto:alan@diip.app?subject=Feedback!">Feedback</a>

        <%= link_to("Sair", destroy_user_session_path, method: :delete, id: "logout-btn") %>
        
        <%= button_to "Deletar minha conta.", registration_path(current_user), data: { confirm: "Tem certeza? =/" }, method: :delete, id: "delete-account-btn" %>
       
      </div>
    </div>

  </div>
</div>




